<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wbda.oauth2.dao.TUserMapper" >
  <resultMap id="BaseResultMap" type="com.wbda.oauth2.entity.TUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="mail" property="mail" jdbcType="VARCHAR" />
    <result column="tel_phone" property="telPhone" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="register_time" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="machine_uid" property="machineUid" jdbcType="VARCHAR" />
    <result column="expiration_time" property="expirationTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, mail, tel_phone, `password`, `status`, register_time, last_login_time, 
    nick_name, salt, real_name, org_id, machine_uid, expiration_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wbda.oauth2.entity.TUser" >
    insert into t_user (id, username, mail, 
      tel_phone, `password`, `status`, 
      register_time, last_login_time, nick_name, 
      salt, real_name, org_id, 
      machine_uid, expiration_time)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, 
      #{telPhone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{registerTime,jdbcType=TIMESTAMP}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{nickName,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{orgId,jdbcType=INTEGER}, 
      #{machineUid,jdbcType=VARCHAR}, #{expirationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wbda.oauth2.entity.TUser" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="mail != null" >
        mail,
      </if>
      <if test="telPhone != null" >
        tel_phone,
      </if>
      <if test="password != null" >
        `password`,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="registerTime != null" >
        register_time,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="machineUid != null" >
        machine_uid,
      </if>
      <if test="expirationTime != null" >
        expiration_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="telPhone != null" >
        #{telPhone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="registerTime != null" >
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="machineUid != null" >
        #{machineUid,jdbcType=VARCHAR},
      </if>
      <if test="expirationTime != null" >
        #{expirationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wbda.oauth2.entity.TUser" >
    update t_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="telPhone != null" >
        tel_phone = #{telPhone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=CHAR},
      </if>
      <if test="registerTime != null" >
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="machineUid != null" >
        machine_uid = #{machineUid,jdbcType=VARCHAR},
      </if>
      <if test="expirationTime != null" >
        expiration_time = #{expirationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wbda.oauth2.entity.TUser" >
    update t_user
    set username = #{username,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      tel_phone = #{telPhone,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=CHAR},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      nick_name = #{nickName,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=INTEGER},
      machine_uid = #{machineUid,jdbcType=VARCHAR},
      expiration_time = #{expirationTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getUserByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select *
    from t_user
    where username = #{value}
  </select>

</mapper>